@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}
.cabecalho-menu-link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;

}

.conteinar-pai {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.conteinar-conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.conteinar-conteudo-titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;

    
}

.conteinar-conteudo-texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    color: var(--cor-segundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
    font-weight: 400;
}

.conteinar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

}

.conteinar-links-botao{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-segundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);


}

.conteinar-links-botao:hover {
    background-color: var(--cor-hover);
}

.conteinar-links-titulo{
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    line-height: 40px;
    font-weight: 400;

}


.conteinar-imagem{
    width: 30%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-size: 1.5rem;
    font-family:  var(--fonte-secundaria);
    font-weight: 400;
}


@media (max-width: 1200px){
    .conteinar-pai {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .cabecalho{
        padding: 10%;
    }

    .cabecalho-menu{
        justify-content: center;
        font-size: 1.0rem;
    }

    .conteinar-conteudo {
        width: auto;
    }

    .conteinar-conteudo-texto{
        font-size: 1.0rem;
    }

    .conteinar-conteudo-titulo{
        font-size: 1.5rem;
    }

    
    .conteinar-links-titulo{
        font-size: 1.2rem;
    }

    .conteinar-imagem{
        width: 60%;
    }

    


}

